.containt{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containt-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.containt-img img{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}
