.content-popUpImage{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
}
.content-popUpImage.show{
    transform: translateY(0%);
}

.content-popUpImage .content-image{
    width: 100%;
    height: 100%;
}

.content-popUpImage .content-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-popUpImage .content-button{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content-popUpImage .content-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: none;
    border: 3px solid var(--color-white-1);
    border-radius: 20px;
    color: var(--color-white-1);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 50px;
}


.content-popUpImage .content-button button:hover{
    background: var(--color-white-1);
    border-radius: 20px;
    color: var(--color-black);
    font-size: 22px;
    font-weight: 700;
    -webkit-box-shadow: -12px 13px 40px -10px rgba(255,255,255,0.88);
    -moz-box-shadow: -12px 13px 40px -10px rgba(255,255,255,0.88);
    box-shadow: -12px 13px 40px -10px rgba(255,255,255,0.88);
}